name: Test action code
on:
  pull_request:
  push:
    branches:
      - 'main'
    tags:
      - '!v*'

jobs:
  test-modules:
    runs-on: ubuntu-latest
    name: Test modules
    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-push-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-push-${{ env.cache-name }}-
            ${{ runner.os }}-push-

      - name: Install modules
        run: npm ci

      - name: Run tests
        run: npm run test:build

      - name: Diff built files
        run: |
          git diff --exit-code --quiet README.md

  test-main:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    name: Test main
    steps:
      - uses: actions/checkout@v5

      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-act-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-act-${{ env.cache-name }}-
            ${{ runner.os }}-act-

      - name: Install modules
        run: npm ci

      - name: Build
        run: npm run build

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Send file(normal end)
        id: send
        uses: ./
        with:
          parent_id: ${{ secrets.PARENT_ID }}
          dest_file_name: gdrive-act-send-test-readme.md
          src_file_name: README.md

      - name: Check file_id
        run: test -n "${FILE_ID}"
        env:
          FILE_ID: ${{ steps.send.outputs.file_id }}

      - name: Receive file to cehck content(use file id)
        uses: hankei6km/gdrive-act-recv@v0
        with:
          file_id: ${{ steps.send.outputs.file_id }}
          dest_file_name: test_text.md

      - name: Check content
        run: |
          diff -q README.md test_text.md

      - name: Send file(with mime type)
        id: send_with_mime
        uses: ./
        with:
          parent_id: ${{ secrets.PARENT_ID }}
          dest_file_name: gdrive-act-send-test-readme.doc
          src_file_name: README.md
          dest_mime_type: application/vnd.google-apps.document
          src_mime_type: text/plain

      # mimeType ありで upload されている場合、
      # 上書きするには local 側の mimeType の指定がなければエラーになる(はず)
      - name: Send file(with mime type 2)
        id: send_with_mime2
        uses: ./
        with:
          parent_id: ${{ secrets.PARENT_ID }}
          dest_file_name: gdrive-act-send-test-readme.doc
          src_file_name: README.md
          dest_mime_type: application/vnd.google-apps.document
          src_mime_type: text/plain

      # fileId でリモートのファイルを特定する
      - name: Send file(with file id)
        id: send_with_file_id
        uses: ./
        with:
          file_id: ${{ steps.send.outputs.file_id }}
          src_file_name: README.md

      - name: Send file(src is not exist)
        id: send_failed
        continue-on-error: true
        uses: ./
        with:
          parent_id: ${{ secrets.PARENT_ID }}
          dest_file_name: gdrive-act-send-test-readme.md
          src_file_name: README_test.md

      - name: Check failure
        run: test "${FAILURE}" = "failure"
        env:
          FAILURE: ${{ steps.send_failed.outcome }}

      # supportsAllDrives のテスト(指定だけで共有ドライブは利用していない)
      - name: Send file(normal end with supports all drives)
        id: supports_all_drives_send
        uses: ./
        with:
          # TODO: 共有ドライブが使えるようことがあれば、ここを共有ドライブの id へ変更する
          parent_id: ${{ secrets.PARENT_ID }}
          dest_file_name: gdrive-act-send-test-readme-supports-all-drives.md
          src_file_name: README.md
          supports_all_drives: true

      - name: Check file_id(supports all drives)
        run: test -n "${FILE_ID}"
        env:
          FILE_ID: ${{ steps.supports_all_drives_send.outputs.file_id }}

      - name: Receive file to cehck content(use file id with supports all drives)
        uses: hankei6km/gdrive-act-recv@v0
        with:
          file_id: ${{ steps.supports_all_drives_send.outputs.file_id }}
          dest_file_name: test_text-support-all-drives.md

      - name: Check content(supports all drives)
        run: |
          diff -q README.md test_text-support-all-drives.md
